:root {
  --primary: #9a2729;
  --light: #c8cfd6;
  --dark: #000102;
  text-align: center;
  background-color: rgb(1, 0, 8);
  width: 100%;
}

.ff-secondary {
  font-family: 'Pacifico', cursive;
}


/*** Navbar ***/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 0;
  font-size: 20px;
  background-color: rgb(1, 0, 8);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-name {
  color: var(--primary);
  font-size: 60px;
  /* padding: 35px; */
  padding-left: 60px;
  text-align: left;
  font-family: 'Pacifico', cursive;

}

.nav-sections a {
  color: var(--light);
  padding: 35px;
  text-decoration: none;
}


@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
      position: relative;
  }

  .navbar-dark .navbar-collapse {
      margin-top: 15px;
      border-top: 1px solid rgba(255, 255, 255, .1)
  }

  .navbar-dark .navbar-nav .nav-link,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
      padding: 10px 0;
      margin-left: 0;
  }

  .navbar-dark .navbar-brand img {
      max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-dark {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 999;
      background: transparent !important;
  }
  
  .sticky-top.navbar-dark {
      position: fixed;
      background: var(--dark) !important;
  }
}

/*** About Section ***/
#about {
  padding-top: 200px;
  color: var(--light);
}

.aboutme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 50px;
  color: var(--light);
}

.aboutme p {
  width: 50%;
  padding-right: 50px;
}

.profile {
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profilepic {
display: inline;
margin: 0 auto;
margin-left: -30%;
height: 100%;
width: auto;
}


.animate__slideInLeft{
  animation-name: slideInLeft;
  animation-duration: 2s;
}

.animate__slideInRight{
  animation-name: slideInRight;
  animation-duration: 2s;
}


/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  margin: 50px;
  color: var(--light);
}

.section-title::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  top: 50%;
  left: -65px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  top: 50%;
  right: -65px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

/*** Projects ***/
.project-item {
  box-shadow: 0 0 45px rgba(228, 28, 178, 0.08);
  height: calc(100% - 38px);
  transition: .5s;
}

.project-item img {
  transition: .5s;
}

.project-item:hover img {
  transform: scale(1.1);
}

.project-item:hover {
  height: 70%;
}

.project-item  {
  border-radius: 38px 38px 0 0;
}
.project-container {
  height: 100%;
}
.project-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.projects {
  height: 600px;
}

.projects .img-fluid{
  height: 500px;
  width: 500px;

  /* padding-top: 50px;
  margin-left: 00px;
  margin-right: 300px; */
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
  color: var(--light);
  margin-top: 10px;
  margin-bottom: 20px;
}

.tinyLogo {
  height: 50px;
  width: 50px;
}

/***  Skills ***/

.credentials{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  padding: 50px
}

.animate__rotateIn img{
  animation-name: flip;
  animation-duration: 1s;
  height: 200px;
  width: 200px;
  padding: 20px;
}

.skillIcons {
  margin-top: 20px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.skillIcons img {
  height: 200px;
  /* width: 100%; */
}

/*** Contact ***/
#contact {
  padding-top: 200px;
  color: var(--light);
}


/*** Footer ***/
footer {
  background-color: var(--primary); 
  color: var(--light);
  padding: 20px 0;
  text-align: center;
}

.footer img {
  width: 75px;
  height: 75px;
  margin: 0 10px;
  color: var(--light);
  opacity: 1;
}


